<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <div class="titre-page">
        <h1>A propos de moi-même</h1>
      </div>
      <h3>Vous allez voir si je suis dans le top 50% de la planète*</h3>
        <div class="text-center">
          <button type="button" class="btn btn-warning btn-lg">Top 50% ou non?</button>
        </div>
      <p>*selon moi même et il faut prendre en compte que si ma mère m'a dit que j'étais bon dedans, j'y ai surement cru</p>
    </div>
  </div>
</div>
